.gameboard {
    height: 70vmin;
    width: 125vmin;
    border: #fcfcfc 8px solid;
    color:rgba(16, 14, 168, 0.904);
    background-color: #0f0e0e;
    font-size: 50px;
    position: relative;
    left: 135px;
    font-family: Geneva,Verdana, Tahoma, sans-serif;
}
a {
    text-decoration: none;   
    text-decoration: #312f2f;
    color: #ebecec;
}

.greeting {
    text-align: center;
    color: #ebecec;
}
body {
   background-color: #cfc8c8
}
.gameheader {
    background-color:none;
    font-size: 30px;
    position: relative;
    width: 125vmin;
    left: 135px;
}
p {
    color: #ebecec;
    text-align: center;
    text-decoration: none;
    position: fixed;

}
.hide {
    display: none;
}
.next {
    position: relative;
    bottom: -500px;
}
.show-answer {
    position: relative;
    bottom: -10px;
    font-size: 25px;
    text-decoration: none;
    background-color: white;
    border: none;
}
.show-answer:hover{
    background-color: rgb(7, 10, 175);
    font-weight:bold
}
.quest {
   position: relative;
   top: -100px;  
   text-align: center;  
}
.ans {
    position: relative;
    text-align: center;
}