.gameboard {
    height: 70vmin;
    width: 125vmin;
    border: #1a6cca 4px solid;
    color:rgba(16, 14, 168, 0.904);
    text-align: center;
    background-color: rgba(54, 108, 189, 1);
    font-size: 50px;
    text-align: center;
    position: fixed;
}

.greeting {
    text-align: center;
    color: rgba(16, 14, 168, 0.904);
}
 
body {
   background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 50%, rgba(0,0,0,0.08) 100%), url('https://www.csstextures.com/leopard-T47.jpg'); background-repeat: repeat;
}

.gameheader {
    font-size: 25px;
    background-color: #1a6cca;
    
}
.team {
    text-align: right;
}

p {
    color:rgba(16, 14, 168, 0.904);
    text-align: center;
    text-decoration: none;
    position: fixed;
}

.hide {
    display: none;
}