.gameboard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 70vmin;
    width: 125vmin;
    position: relative;
    left: 35px;
    font-family: Geneva,Verdana, Tahoma, sans-serif;
}
a {
    text-decoration: #312f2f;
    color: #ebecec;
}
.square {
    border: #fcfcfc 8px solid;
    margin-bottom: -1px;
    margin-right: -1px;
     display: block;
    text-align: center; 
    font-size: 75px;
    align-items: center;
    background-color: #312f2f;
   
}
.square:hover{
    background-color: rgb(7, 10, 175);
    font-weight:bold
}
.greeting {
    text-align: center;
    color: #ebecec;
    font-family: Geneva,Verdana, Tahoma, sans-serif;
}

.button {
    background-color: blue;
}
 
body {
   background-color: #cfc8c8
}

.gameheader {
    font-size: 30px;
    background-color:none;
}
.team {
    text-align: right;
    color:  rgba(16, 14, 168, 0.904);
}

.button {
    display: none;
}
.show-answer {
    bottom: 100px;
    
}

.odometer {
    font-size: 100px;
}

.odometer-div {
  text-align: right;
  position: absolute;
  right: 2%;
  top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Geneva,Verdana, Tahoma, sans-serif;
  font-size: 25px;
}
